.about__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media("desktop") {
    flex-direction: row;
  }
}

.about__block {
  margin-bottom: 40px;

  @include media("tablet") {
    margin-bottom: 39px;

    &:nth-child(2) {
      margin-bottom: 60px;
    }
  }

  @include media("desktop") {
    margin-bottom: 60px;
  }
}

.about__block:last-child {
  width: 100%;
  margin-bottom: 0;
}

.about__block p {
  margin: 0;
}

.about__block:nth-child(2) br {
  @include media("tablet") {
    display: none;
  }
}

.about__block:first-child p {
  font-size: 16px;
  line-height: 22px;

  @include media("tablet") {
    font-size: 20px;
    line-height: 26px;
  }

  @include media("desktop") {
    width: 702px;
    margin-right: 40px;
    font-size: 22px;
    line-height: 32px;
  }
}

.about__block:nth-child(2) h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  @include media("desktop") {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 36px;
  }
}

.about__block:nth-child(2) p {
  margin-bottom: 30px;

  @include media("tablet") {
    width: 490px;
    margin-bottom: 40px;
  }

  @include media("desktop") {
    margin-bottom: 50px;
  }
}

.about__block-inner {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.about__button {
  padding: 16px 59px 14px 20px;

  @include media("tablet") {
    padding: 20px 81px 20px 31px;
  }
}

.about__stats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin: 0;
  padding: 42px 20px;
  padding-bottom: 40px;
  list-style: none;
  color: $white;
  background-color: $blue;
  border-radius: 20px;

  @include media("tablet") {
    gap: 54px 52px;
    padding: 72px 50px 50px 70px;;
  }

  @include media("desktop") {
    padding: 72px 100px 50px 120px;
    row-gap: 52px;
  }
}

.about__stats-item {
  position: relative;
  width: 250px;
  padding: 15px 20px;
  border: 1px solid $beige;
  border-radius: 16px;

  @include media("tablet") {
    width: 253px;
    padding: 16px 20px;
    padding-bottom: 15px;
  }

  @include media("desktop") {
    display: grid;
    align-items: center;
    width: 484px;
    padding: 31px 40px;
    padding-bottom: 30px;

    &--programs {
      grid-template-columns: 144px 175px;
      column-gap: 57px;
    }

    &--participants {
      grid-template-columns: 171px 158px;
      column-gap: 30px;
    }

    &--countries {
      grid-template-columns: 163px 192px;
      column-gap: 39px;
    }

    &--grants {
      grid-template-columns: 134px 190px;
      column-gap: 67px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-color: $blue;
    background-image: url("/__spritemap#sprite-star-view");
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about__stats-item h4 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: uppercase;

  @include media("tablet") {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @include media("desktop") {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    margin-bottom: 0;
  }
}

.about__stats-item p {
  width: 198px;
  font-weight: 300;

  @include media("tablet") {
    width: 203px;
  }

  @include media("desktop") {
    width: 200px;
    line-height: 20px;
  }
}

.about__stats-item--grants p {
  width: 209px;
}

.about__stats-item--countries p {
  @include media("tablet") {
    width: 209px;
  }
}

.about__stats-item--programs br {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

.about__stats-item--participants br {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

.about__stats-item--countries > h4 > br {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

.about__stats-item--countries > p > br {
  display: none;

  @include media("desktop") {
    display: block;
  }
}
