.button {
  position: relative;
  display: inline-block;
  padding: 15px 60px 15px 20px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $blue;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-coloe 0.3s, color 0.3s;

  @include media("tablet") {
    font-size: 14px;
    padding: 20px 80px 20px 30px;
  }

  &--dark {
    color: $white;
    border-color: $white;
  }

  @media (hover: hover) {
    &:focus {
      color: $blue;
      background-color: $white;
      outline: 2px solid $blue;
      outline-offset: -2px;
    }

    &--dark:focus {
      color: $white;
      background-color: $blue;
      outline: 2px solid $white;
      outline-offset: -2px;
    }

    &:hover {
      color: $white;
      background-color: $blue;
    }

    &--dark:hover {
      color: $blue;
      background-color: $white;
    }

    &:active {
      color: rgba($white, 0.7);
      background-color: $blue;
      outline: none;
    }

    &--dark:active {
      color: rgba($blue, 0.7);
      background-color: $white;
      outline: none;
    }

    &:disabled,
    &:disabled:hover,
    &.disabled {
      background-color: transparent;
      color: $grey;
      border-color: $grey;
      cursor: not-allowed;
    }
  }
}
