.button-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: $blue;
  border-radius: 50%;

  &--light {
    background-color: $white;
  }

  &--absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
  }

  @include media("tablet") {
    width: 46px;
    height: 46px;
  }
}
