.button {
  display: inline-block;
  padding: 15px 60px 15px 20px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $blue;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @include media("tablet") {
    font-size: 14px;
    padding: 20px 80px 20px 30px;
  }

  &--dark {
    color: $white;
    border-color: $white;
  }
}
