.button-icon {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: $blue;
  border-radius: 50%;
  transition: background-color 0.3s;

  &--light {
    background-color: $white;
  }

  &--absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
  }

  @include media("tablet") {
    width: 46px;
    height: 46px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: $white;
    transition: all 0.3s ease;

    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &--light::before {
    background-color: $blue;
  }
}

.button:focus .button-icon,
.button-icon:focus {
  background-color: $blue;
  outline: none;

    &::before {
    background-color: $white;
    transform: rotate(45deg);
  }
}

.button:focus .button-icon--light {
  background-color: $white;

  &::before {
    background-color: $blue;
  }
}

.button:hover .button-icon,
.button-icon:hover {
  background-color: $white;

  &::before {
    background-color: $blue;
    transform: rotate(45deg);
  }
}

.button:hover .button-icon--light {
  background-color: $blue;

  &::before {
    background-color: $white;
  }
}

.button:active .button-icon,
.button-icon:active {
  background-color: $white;

  &::before {
    background-color: rgba($blue, 0.7);
    transform: rotate(45deg);
  }
}

.button:active .button-icon--light {
  background-color: $blue;

  &::before {
    background-color: rgba($white, 0.7);
  }
}

.button:disabled .button-icon,
.button:disabled:hover .button-icon,
.button.disabled .button-icon,
.button-icon:disabled,
.button-icon:hover:disabled,
.button-icon.disabled {
  background-color: $grey;
  cursor: not-allowed;

  &::before {
    background-color: rgba($white, 0.6);
    transform: none;
  }
}
