.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  right: 6px;
  padding: 0;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 12px;
    height: 12px;
    margin: auto;
    background-color: $blue;
    mask-image: url("/__spritemap#sprite-cross-view");
    transition: background-color 0.3s ease;
  }

  &--dark::before {
    background-color: $white;
  }

  @include media("tablet") {
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;

    &::before {
      width: 18px;
      height: 18px;
    }
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $blue;
      outline: none;

      &::before {
        background-color: $white;
      }
    }

    &:active {
      background-color: $dark-blue;

      &::before {
        background-color: rgba($white, 0.5);
      }
    }

    &--dark:hover,
    &--dark:focus {
      background-color: $white;
      outline: none;

      &::before {
        background-color: $blue;
      }
    }

    &--dark:active {
      background-color: $dark-blue;

      &::before {
        background-color: rgba($white, 0.5);
      }
    }
  }
}
