.contacts__wrapper {
  @include media("desktop") {
    display: flex;
  }
}

.contacts__address {
  font-style: normal;

  @include media("desktop") {
    margin-left: auto;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 30px;

  @include media("tablet") {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 24px 20.5px;
  }

  @include media("desktop") {
    margin-bottom: 40px;
    column-gap: 52.5px;
  }
}

.contacts__term {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  opacity: 0.8;

  @include media("tablet") {
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}

.contacts__definition {
  margin: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  & br {
    display: none;
  }

  @include media("tablet") {
    margin-bottom: 0;
  }

  @include media("desktop") {
    & br {
      display: block;
    }
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

.contacts__map {
  padding-top: 30px;
  border-top: 2px solid rgba($white, 0.2);
}

.contacts__map img {
  border-radius: 16px;
}
