.contacts__address {
  font-style: normal;
}

.contacts__list {
  margin: 0;
  margin-bottom: 30px;

  @include media("desktop") {
    margin-bottom: 40px;
  }
}

.contacts__term {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  opacity: 0.8;

  @include media("tablet") {
    margin-bottom: 24px;
  }
}

.contacts__definition {
  margin: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media("tablet") {
    margin-bottom: 0;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

.contacts__map {
  padding-top: 30px;
  border-top: 2px solid rgba($white, 0.2);
}
