.custom__select {
  position: relative;
}

.custom-select__button {
  position: relative;
  width: 100%;
  min-height: 50px;
  margin-bottom: 4px;
  padding: 17px 40px 17px 20px;
  font-size: 14px;
  line-height: 1;
  color: $white;
  background-color: $blue;
  border: 1px solid rgba($white, 0.3);
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  transition:
    border 0.3s,
    background-color 0.3s;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 21px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("/__spritemap#sprite-arrowdown-view");
  }

  &[aria-expanded="true"]::before {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus,
  &--open {
    border-color: $white;
    outline: none;
  }

  &:disabled,
  &:disabled:hover {
    background-color: rgba($white, 0.2);
    border-color: rgba($white, 0.4);
    cursor: not-allowed ;
  }

  &--error {
    background-color: rgba($red, 0.2);
    border-color: $red;
  }
}

.custom-select__list {
  position: absolute;
  width: 260px;
  max-height: 0px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  color: $black;
  background-color: $white;
  border-radius: 8px;
  list-style-type: none;
  z-index: 10;
  overflow-y: auto;
  transition:
    max-height 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &--open {
    max-height: 300px;
  }

  @include media("tablet") {
    width: 362px;
  }

  @include media("desktop") {
    width: 350px;
  }
}

.custom-select__option {
  padding: 17px 20px;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;

  &--hovered {
    color: $blue;
  }

  &--focused {
    color: $white;
    background-color: $blue;
    outline: 1px solid $white;
    outline-offset: -1px;
  }
}
