.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("desktop") {
    width: 1028px;
    margin: 0 auto;
  }
}

.faq__item:not(:last-child) {
  margin-bottom: 10px;
}

.faq__question {
  position: relative;
  width: 100%;
  padding: 25px 81px 25px 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;
  text-align: left;
  background-color: inherit;
  border: 2px solid $blue;
  border-radius: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-radius 0.2s ease;

  &--open {
    color: $white;
    background-color: $blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include media("tablet") {
    padding: 40px 82px 40px 32px;
    font-size: 22px;
    line-height: 26px;
    border-radius: 16px;

    &--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include media("desktop") {
    padding: 42px 92px 42px 42px;
    font-size: 28px;
    line-height: 34px;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $white;
      outline: none;
    }

    &:active {
      background-color: $white;
      color: $dark-blue;
    }

    &--open:hover,
    &--open:focus {
      background-color: $blue;
      outline: none;
    }

    &--open:active {
      background-color: $dark-blue;
      border-color: $dark-blue;
      color: $white;
    }
  }
}

.faq__question + p {
  max-height: 0;
  margin: 0;
  padding: 0 17px 0;
  color: $white;
  background-color: $blue;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
  transition:
    max-height 0.2s ease,
    padding 0.2s ease;

  @include media("tablet") {
    padding: 0 32px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.faq__question--open + p {
  max-height: 500px;
  margin: 0;
  padding: 0 17px 22px;
  color: $white;
  background-color: $blue;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

  @include media("tablet") {
    padding: 0 32px 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.faq__icon {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 17px;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: $blue;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $white;
    transition: background-color 0.3 ease;
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
    transition: transform 0.3s ease;
  }

  @include media("tablet") {
    right: 32px;
  }

  @include media("desktop") {
    right: 42px;
  }
}

.faq__question--open .faq__icon {
  background-color: $white;

  &::before {
    background-color: $blue;
  }

  &::after {
    background-color: $blue;
    transform: rotate(90deg);
  }
}

@media (hover: hover) {
  .faq__question:hover .faq__icon,
  .faq__question:focus .faq__icon {
    background-color: $white;
    border: 1px solid $blue;

    &::before,
    &::after {
      background-color: $blue;
    }
  }

  .faq__question:active .faq__icon {
    background-color: $dark-blue;
    border: none;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  .faq__question--open:hover .faq__icon,
  .faq__question--open:focus .faq__icon {
    background-color: $blue;
    border: 1px solid $white;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  .faq__question--open:active .faq__icon {
    background-color: $white;
    border: none;

    &::before,
    &::after {
      background-color: $dark-blue;
    }
  }

  .faq__question--open:active + p {
    background-color: $dark-blue;
  }
}
