.feedback__inner {
  padding: 15px 15px 27px;
  color: $white;
  background-color: $blue;
  border-radius: 16px;

  @include media("tablet") {
    width: 442px;
    padding: 41px 40px 36px;
  }

  @include media("desktop") {
    width: 490px;
    padding: 44px 70px 40px;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  @include media("tablet") {
    margin-bottom: 31px;
    font-size: 28px;
    line-height: 28px;
  }

  @include media("desktop") {
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 36px;
  }
}

.feedback__subtitle {
  margin: 0;
  margin-bottom: 20px;

  @include media("tablet") {
    margin-bottom: 40px;
  }
}
