.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__nav-link {
  color: inherit;
  text-decoration: none;

  @include media("desktop") {
    line-height: 17px;
  }
}

.footer__policy-link {
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  text-underline-position: under;

  @include media("desktop") {
    line-height: 12px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #484848;

  @include media("tablet") {
    font-size: 12px;
    line-height: 12px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
