.footer {
  padding-top: 40px;
  padding-bottom: 42px;

  @include media("tablet") {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media("desktop") {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  text-align: center;

  @include media("tablet") {
    grid-template-columns: 52px 200px 1fr;
    grid-template-rows: 1fr 38px 25px;
    align-items: end;
    column-gap: 15px;
    text-align: left;
  }

  @include media("desktop") {
    grid-template-columns: 52px 700px 1fr;
    grid-template-rows: 1fr 38px;
    gap: 25px 52px;
  }
}

.footer__logo {
  justify-self: center;
  margin-bottom: 20px;

  @include media("tablet") {
    margin-bottom: 0;
  }
}

.footer__nav {
  margin-bottom: 22px;

  @include media("tablet") {
    grid-column: 2 / 4;
    justify-self: end;
    align-self: center;
    margin-bottom: 0;
  }

  @include media("desktop") {
    grid-column: 2 / 3;
    justify-self: start;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    width: 535px;
    justify-content: end;
    gap: 15px;
  }

  @include media("desktop") {
    width: 700px;
    gap: 30px;
    justify-content: start;
  }
}

.footer__nav-link {
  color: inherit;
  text-decoration: none;

  @include media("tablet") {
    letter-spacing: 0.05px;
  }

  @include media("desktop") {
    line-height: 17px;
  }
}

.footer__policy-link {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  text-underline-position: under;

  @include media("tablet") {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: start;
    margin-bottom: 0;
    line-height: 12px;
  }

  @include media("desktop") {
    grid-column: -1 / -2;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: start;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (hover: hover) {
  .footer__nav-link,
  .footer__policy-link {
    transition: color 0.3s;

    &:hover {
      color: rgba($blue, 0.4);
    }

    &:focus {
      outline: none;
      color: $blue;
    }

    &:active {
      color: $dark-blue;
    }
  }
}

.footer__copyright {
  margin: 0;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #484848;
  opacity: 0.6;

  @include media("tablet") {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 12px;
  }

  @include media("desktop") {
    grid-row: 2 / 3;
    align-self: start;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    justify-self: end;
    margin-bottom: 1px;
  }

  @include media("desktop") {
    grid-row: 1 / 2;
    gap: 20px;
    margin-bottom: 9px;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: $blue;
  border-radius: 50%;
  transition: background-color 0.3s;

  @include media("tablet") {
    width: 36px;
    height: 36px;
  }
}

.footer__social-icon {
  display: block;
  background-color: $white;
  mask-repeat: no-repeat;
  transition: background-color 0.3s;

  &--vk {
    width: 12px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok {
    width: 10px;
    height: 12px;
    mask-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit {
    width: 11px;
    height: 12px;
    mask-image: url("/__spritemap#sprite-reddit-view");
  }

  @include media("tablet") {
    &--vk {
      width: 16px;
      height: 14px;
    }

    &--ok {
      width: 14px;
      height: 16px;
    }

    &--reddit {
      width: 15px;
      height: 16px;
    }
  }
}

@media (hover: hover) {
  .footer__social-link:hover .footer__social-icon {
    background-color: rgba($white, 0.6);
  }

  .footer__social-link:focus {
    background-color: $white;
    outline: none;

    & .footer__social-icon {
      background-color: $blue;
    }
  }

  .footer__social-link:active {
    background-color: $dark-blue;
    outline: none;

    & .footer__social-icon {
      background-color: $white;
    }
  }
}
