.form__group {
  margin-bottom: 20px;

  &--textarea {
    margin-bottom: 15px;
  }

  &--select {
    margin-bottom: 17px;
  }

  &--checkbox {
    margin-bottom: 19px;
  }

  @include media("tablet") {
    &--checkbox {
      margin-bottom: 31px;
    }
  }

  @include media("desktop") {
    &--textarea {
      margin-bottom: 9px;
    }

    &--select {
      margin-bottom: 16px;
    }
  }
}

.form__label {
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.8;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    line-height: 18px;
  }
}

.form__input {
  width: 100%;
  min-height: 50px;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  background-color: $blue;
  border: 1px solid rgba($white, 0.3);
  border-radius: 8px;
  cursor: pointer;
  transition:
    border 0.3s,
    background-color 0.3s;

  &--textarea {
    min-height: 94px;
    resize: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 18px;

    &--textarea {
      min-height: 88px;
    }
  }

  @include media("desktop") {
    &--textarea {
      min-height: 90px;
    }
  }

  &:hover,
  &:focus {
    border-color: $white;
    outline: none;
  }

  &:disabled,
  &:disabled:hover {
    background-color: rgba($white, 0.2);
    border-color: rgba($white, 0.4);
    cursor: not-allowed;
  }

  &:user-invalid:focus {
    background-color: rgba($red, 0.2);
    border-color: $red;
  }
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__checkbox-mark {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  background-color: $white;
  border-radius: 2px;
  transition: background-color 0.3s ease;

  @include media("tablet") {
    margin-bottom: 9px;
  }
}

.form__checkbox-input:checked + .form__checkbox-mark {
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: $blue;
    mask-image: url("/__spritemap#sprite-check-view");
  }
}

.form__checkbox-label:hover .form__checkbox-mark,
.form__checkbox-input:focus + .form__checkbox-mark {
  background-color: $blue;
  border: 1px solid $white;
  cursor: pointer;

  &::before {
    background-color: $white;
  }
}

.form__checkbox-input:disabled + .form__checkbox-mark {
  background-color: $grey;
  border: 1px solid $white;
  cursor: not-allowed;
}

.form__checkbox-input:checked:disabled + .form__checkbox-mark {
  background-color: $grey;
  border: none;
  cursor: not-allowed;

  &::before {
    background-color: $white;
  }
}

.form__checkbox-text {
  width: 175px;
  font-size: 12px;
  line-height: 14px;

  @include media("tablet") {
    width: 100%;
    margin-top: -7px;
    font-size: 12px;
    line-height: 12px;
  }
}

.form__checkbox-text br {
  @include media("tablet") {
    display: none;
  }
}

.form__button {
  width: 96%;

  @include media("tablet") {
    width: 352px;
    padding-block: 20px;
  }

  @include media("desktop") {
    width: 100%;
  }
}
