.grant__wrapper {
  display: grid;
  gap: 30px;

  @include media("tablet") {
    gap: 40px;
  }

  @include media("desktop") {
    grid-template-columns: repeat(2, 498px);
    column-gap: 138px;
  }
}

.grant__block p {
  margin: 0;
  margin-bottom: 30px;

  @include media("tablet") {
    width: 498px;
    margin-bottom: 40px;
  }
}

.grant__picture {
  width: 290px;
  height: 200px;
  background-image:
    image-set(
      url("../../img/bg/road-sign@1x.webp") 1x,
      url("../../img/bg/road-sign@2x.webp") 2x,
      url("../../img/bg/road-sign@1x.jpg") 1x,
      url("../../img/bg/road-sign@2x.jpg") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;

  @include media("tablet") {
    width: 678px;
    height: 375px;
    background-size: 678px 416px;
  }

  @include media("desktop") {
    width: 498px;
    height: 363px;
    background-size: cover;
  }
}

.grant__subtitle {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  @include media("tablet") {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  @include media("desktop") {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 36px;
  }
}

.grant__steps-list {
  display: grid;
  gap: 15px;
  margin: 0;
  padding-left: 15px;
  list-style-type: none;

  @include media("tablet") {
    grid-template-columns: repeat(2, 305px);
    gap: 25px 48px;
    padding-left: 20px;
  }

  @include media("desktop") {
    grid-template-columns: auto;
  }
}

.grant__steps-item {
  padding: 25px;
  border: 1px solid $beige;
  border-radius: 16px;
}
