.grant__wrapper {
  display: grid;
  gap: 40px;

  @include media("tablet") {
    gap: 51px;
  }

  @include media("desktop") {
    grid-template-columns: repeat(2, 498px);
    column-gap: 138px;
    row-gap: 40px;
  }
}

.grant__block p {
  margin: 0;
  margin-bottom: 30px;

  @include media("tablet") {
    width: 498px;
    margin-bottom: 39px;
  }

  @include media("desktop") {
    margin-bottom: 40px;
  }
}

.grant__block:first-child br {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

.grant__block:nth-child(2) {
  @include media("desktop") {
    padding-top: 10px;
  }
}

.grant__block:nth-child(2) br {
  @include media("desktop") {
    display: none;
  }
}

.grant__picture {
  width: 290px;
  height: 200px;
  background-image:
    image-set(
      url("../../img/bg/road-sign@1x.webp") 1x,
      url("../../img/bg/road-sign@2x.webp") 2x,
      url("../../img/bg/road-sign@1x.jpg") 1x,
      url("../../img/bg/road-sign@2x.jpg") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;

  @include media("tablet") {
    width: 678px;
    height: 375px;
    background-size: 678px 469px;
    background-position: 0 -47px;
  }

  @include media("desktop") {
    width: 498px;
    height: 363px;
    background-size: cover;
    background-position: 0 0;
  }
}

.grant__subtitle {
  width: 210px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  @include media("tablet") {
    width: 100%;
    margin-bottom: 45px;
    font-size: 28px;
    line-height: 28px;
  }

  @include media("desktop") {
    width: 375px;
    margin-bottom: 55px;
    font-size: 32px;
    line-height: 36px;
  }
}

.grant__steps-list {
  display: grid;
  gap: 15px;
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
  counter-reset: item 0;

  @include media("tablet") {
    grid-template-columns: repeat(2, 305px);
    gap: 25px 48px;
    padding-left: 20px;
  }

  @include media("desktop") {
    grid-template-columns: auto;
    row-gap: 23px;
  }
}

.grant__steps-item {
  position: relative;
  padding: 25px;
  padding-block: 24px;
  border: 1px solid $beige;
  border-radius: 16px;
  counter-increment: item 1;

  &::before {
    content: counter(item);
    position: absolute;
    top: -3px;
    left: -14px;
    width: 28px;
    height: 32px;
    padding-top: 6px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    background-color: $blue;
  }

  @include media("tablet") {
    padding-block: 30px;

    &::before {
      top: -14px;
      left: -21px;
      width: 42px;
      height: 42px;
      padding-top: 10px;
      font-size: 22px;
    }
  }
}
