.header__menu-button {
  font-size: 14px;
  background-color: $white;
}

.header__navigation {
  padding: 35px 25px;
  background-color: $blue;
  border-radius: 16px;
}

.header__navigation-list,
.header__subnavigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-toggle {
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.7;
}

.header__navigation-link,
.header__subnavigation-link {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__navigation-link {
  text-transform: uppercase;
}
