.header {
  position: relative;
  z-index: 10;
  background-color: transparent;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 4px;
}

.header__menu-button {
  min-width: 136px;
  padding-block: 20px;
  font-size: 14px;
  padding-left: 20px;
  background-color: $white;
  text-align: left;

  &--open {
    background-color: $blue;
    color: $white;
  }
}

.header__button-icon {
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  width: 34px;
  height: 34px;
  background-color: $blue;
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 46px;
  height: 46px;

  &--open {
    background-color: $white;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 15px;
    height: 1px;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &::after {
    top: 23px;
    box-shadow: 0 3px 0 $white,
  }

  &--open::before,
  &--open::after {
    width: 23px;
    top: 22px;
    background-color: $blue;
  }

  &--open::before {
    transform: rotate(45deg);
  }

  &--open::after {
    box-shadow: none;
    transform: rotate(-45deg);
  }
}

.header__menu-button:focus .header__button-icon {
  background-color: $blue;
}

.header__menu-button:hover .header__button-icon {
  background-color: $white;
}

.header__menu-button:active .header__button-icon {
  background-color: $white;
}

.header__menu-button:focus .header__button-icon::before,
.header__menu-button:focus .header__button-icon::after {
  background-color: $white;
}

.header__menu-button:focus .header__button-icon::after {
  background-color: $white;
  box-shadow: 0 3px 0 $white;
}

.header__menu-button:hover .header__button-icon::before,
.header__menu-button:hover .header__button-icon::after {
  background-color: $blue;
}

.header__menu-button:hover .header__button-icon::after {
  background-color: $blue;
  box-shadow: 0 3px 0 $blue;
}

.header__menu-button:active .header__button-icon::before,
.header__menu-button:active .header__button-icon::after {
  background-color: rgba($blue, 0.7);
}

.header__menu-button:active .header__button-icon::after {
  background-color: rgba($blue, 0.7);
  box-shadow: 0 3px 0 rgba($blue, 0.7);
}

.header__navigation {
  display: none;
  flex-direction: column;
  max-width: 290px;
  margin-left: auto;
  padding: 35px 25px;
  background-color: $blue;
  border-radius: 16px;

  @include media("tablet") {
    max-width: 289px;
  }
}

.header__navigation-list,
.header__subnavigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-item:not(:last-child) {
  margin-bottom: 28px;
}

.header__subnavigation-item:not(:last-child) {
  margin-bottom: 16px;
}

.header__navigation-toggle {
  margin-bottom: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.7;

  &--active {
    opacity: 1;
  }
}

.header__navigation-link,
.header__subnavigation-link {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__navigation-link {
  text-transform: uppercase;
}
