.header {
  position: relative;
  padding-top: 20px;
  z-index: 30;
  background-color: transparent;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2px;
}

.header__menu-button {
  position: absolute;
  right: 0;
  min-width: 136px;
  padding-block: 20px;
  font-size: 14px;
  padding-left: 20px;
  background-color: $white;
  text-align: left;
  transition: min-width 0.3s ease-in-out, background-color 0.3s, color 0.3s;

  &--open {
    min-width: 290px;
    max-width: 290px;
    background-color: $blue;
    color: $white;

    @include media("tablet") {
      min-width: 286px;
      max-width: 286px;
      right: 0;
    }

    &:focus {
      background-color: $blue;
      color: $white;
      outline: 2px solid $white;
    }

    &:hover {
      background-color: $white;
      color: $blue;
    }

    &:active {
      color: rgba($blue, 0.6);
    }
  }
}

.header__button-icon {
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  width: 34px;
  height: 34px;
  background-color: $blue;
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 46px;
  height: 46px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 15px;
    height: 1px;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &::after {
    top: 23px;
    box-shadow: 0 3px 0 $white,
  }
}

.header__menu-button--open {
  .header__button-icon {
    background-color: $white;

    &::before,
    &::after {
      width: 23px;
      top: 22px;
      background-color: $blue;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      box-shadow: none;
      transform: rotate(-45deg);
    }
  }
}

.header__menu-button:focus .header__button-icon {
  background-color: $blue;
}

.header__menu-button--open:focus .header__button-icon {
  background-color: $white;
}

.header__menu-button:hover .header__button-icon {
  background-color: $white;
}

.header__menu-button--open:hover .header__button-icon {
  background-color: $blue;
}

.header__menu-button:active .header__button-icon {
  background-color: $white;
}

.header__menu-button--open:active .header__button-icon {
  background-color: $white;
}

.header__menu-button:focus .header__button-icon::before,
.header__menu-button:focus .header__button-icon::after {
  background-color: $white;
}

.header__menu-button--open:focus .header__button-icon::before,
.header__menu-button--open:focus .header__button-icon::after {
  background-color: $blue;
}

.header__menu-button:focus .header__button-icon::after {
  background-color: $white;
  box-shadow: 0 3px 0 $white;
}

.header__menu-button--open:focus .header__button-icon::after {
  background-color: $blue;
  box-shadow: none;
}

.header__menu-button:hover .header__button-icon::before,
.header__menu-button:hover .header__button-icon::after {
  background-color: $blue;
}

.header__menu-button:hover .header__button-icon::after {
  background-color: $blue;
  box-shadow: 0 3px 0 $blue;
}

.header__menu-button--open:hover .header__button-icon::before,
.header__menu-button--open:hover .header__button-icon::after {
  background-color: $white;
  box-shadow: none;
}

.header__menu-button:active .header__button-icon::before,
.header__menu-button:active .header__button-icon::after {
  background-color: rgba($blue, 0.7);
}

.header__menu-button:active .header__button-icon::after {
  background-color: rgba($blue, 0.7);
  box-shadow: 0 3px 0 rgba($blue, 0.7);
}

.header__menu-button--open:active .header__button-icon::before,
.header__menu-button--open:active .header__button-icon::after {
  background-color: rgba($white, 0.7);
  box-shadow: none;
}

.header__navigation {
  position: absolute;
  right: 0;
  left: 0;
  max-height: 2000px;
  margin: auto;
  margin-top: 4px;
  flex-direction: column;
  max-width: 290px;
  padding: 35px 25px;
  background-color: $blue;
  border-radius: 16px;
  transition: max-height 0.3s ease, padding-block 0.3s ease;

  @include media("tablet") {
    width: 286px;
    right: calc((100vw - 768px) * 0.5 + 45px);
    left: auto;
    margin: 0;
    margin-top: 4px;
  }

  @include media("desktop") {
    right: calc((100vw - 1440px) * 0.5 + 100px);
  }

  &--closed {
    max-height: 0;
    overflow: hidden;
    padding-block: 0;
  }
}

.header__navigation-list,
.header__subnavigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-item:not(:last-child) {
  margin-bottom: 28px;
}

.header__subnavigation-item:not(:last-child) {
  margin-bottom: 16px;
}

.header__navigation-toggle {
  position: relative;
  display: block;
  padding: 5px 0;
  padding-right: 22px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.7;
  transition:
    margin 0.2s ease-in,
    opacity 0.3s;

  &--active {
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("/__spritemap#sprite-arrowdown-view");
    transition: transform 0.3s;
  }

  &--active::before {
    transform: rotate(180deg);
  }
}

.header__subnavigation-list {
  max-height: 0;
  padding-top: 0;
  padding-left: 16px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-out;
}

.header__navigation-toggle--active + .header__subnavigation-list {
  max-height: 500px;
  padding-top: 20px;
  overflow: visible;
}

.header__navigation-link,
.header__subnavigation-link {
  display: block;
  padding-block: 5px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__navigation-link {
  text-transform: uppercase;
}

@media (hover: hover) {
  .header__navigation-toggle:hover,
  .header__navigation-toggle:focus,
  .header__navigation-link:hover,
  .header__navigation-link:focus,
  .header__subnavigation-link:hover,
  .header__subnavigation-link:focus {
    opacity: 1;
    outline: none;
  }

  .header__navigation-toggle:active,
  .header__navigation-link:active,
  .header__subnavigation-link:active {
    opacity: 0.5;
  }
}
