.hero__slide {
  position: relative;
  margin-top: -80px;
  padding-top: 203px;
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/hero-1@1x.webp") 1x,
        url("../../img/bg/hero-1@2x.webp") 2x,
        url("../../img/bg/hero-1@1x.jpg") 1x,
        url("../../img/bg/hero-1@2x.jpg") 2x
      );
    background-position: calc(50% - 20px) 0;
  }

  &--bg-2 {
    background-image:
      image-set(
        url("../../img/bg/hero-2@2x.webp") 2x,
        url("../../img/bg/hero-2@1x.webp") 1x,
        url("../../img/bg/hero-2@1x.jpg") 1x,
        url("../../img/bg/hero-2@2x.jpg") 2x
      );
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/hero-3@2x.webp") 2x,
        url("../../img/bg/hero-3@1x.webp") 1x,
        url("../../img/bg/hero-3@1x.jpg") 1x,
        url("../../img/bg/hero-3@2x.jpg") 2x
      );
  }

  @include media("tablet") {
    padding-top: 687px;
    padding-bottom: 60px;

    &--bg-1 {
      background-position: center 0;
    }

    &--bg-3 {
      background-position: calc(50% - 120px) 0;
      background-repeat: repeat-x;
    }
  }

  @include media("desktop") {
    padding-top: 433px;

    &--bg-1 {
      background-position: center -65px;
    }

    &--bg-3 {
      background-position: center -65px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-blue;
    z-index: 1;
  }
}

.hero__slide-wrapper {
  @include media("tablet") {
    display: grid;
    grid-template-columns: 258px 1fr;
    grid-template-rows: 150px;
    column-gap: 74px;
    row-gap: 24px;
  }

  @include media("desktop") {
    grid-template-columns: 443px;
    grid-template-rows: 215px;
    column-gap: 85px;
    row-gap: 30px;
  }
}

.hero__slide-content-wrapper {
  position: relative;
  z-index: 2;
  --nb-r: 14px;
  --nb-h: -2px;
  --nb-w: 195px;

  @include media("tablet") {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 659px;
    --nb-r: 20px;
    --nb-w: 546px;
  }

  @include media("desktop") {
    width: 968px;
    --nb-w: 820px;
  }
}

.hero__slide-content {
  padding-inline: 14px;
  padding-top: 28px;
  padding-bottom: 15px;
  background-color: $white;
  border-top-left-radius: 12px;
  border-top-right-radius: 16px;
  --nb-r: 14px;
  --nb-h: 89px;
  --nb-w: 0px;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 30px 40px 35px;
    border-radius: 30px;
    --nb-r: 30px;
  }

  @include media("desktop") {
    width: 968px;
    padding: 40px 50px 35px;
    --nb-w: 130px;
    --nb-h: 40px;
  }
}

.hero__slide-button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  z-index: 2;
  width: 262px;
  margin-top: -11px;
  padding: 10px 14px 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: $white;
  --nb-r: 14px;
  --nb-h: 36px;
  --nb-w: 54px;

  &:has(:only-child) {
    margin-top: 0;
  }

  &:has(.hero__slide-button:nth-child(2)) {
    margin-top: -11px;
  }

  @include media("tablet") {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 198px;
    padding: 0;
    --nb-h: 0px;
    --nb-w: 0px;
  }
}

.hero__slide-title {
  margin-block: 20px 16px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    margin-block: 30px 24px;
    font-size: 36px;
    line-height: 44px;

    &--first {
      br {
        display: none;
      }
    }
  }

  @include media("desktop") {
    margin-block: 40px 30px;
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-content p {
  width: 235px;
  margin: 0;
  font-size: 16px;

  @include media("tablet") {
    margin-bottom: 0;
    font-size: 16px;
  }

  @include media("desktop") {
    width: 417px;

    & br {
      display: none;
    }
  }
}
