.hero__slider {
  position: relative;
  margin-top: -77px;

  @include media("tablet") {
    margin-top: -86px;
  }

  @include media("desktop") {
    margin-top: -126px;
  }
}

.hero__slide {
  position: relative;
  padding-top: 204px;
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/hero-1@1x.webp") 1x,
        url("../../img/bg/hero-1@2x.webp") 2x,
        url("../../img/bg/hero-1@1x.jpg") 1x,
        url("../../img/bg/hero-1@2x.jpg") 2x
      );
    background-position: calc(50% - 14px) 0;
  }

  &--bg-2 {
    background-image:
      image-set(
        url("../../img/bg/hero-2@2x.webp") 2x,
        url("../../img/bg/hero-2@1x.webp") 1x,
        url("../../img/bg/hero-2@1x.jpg") 1x,
        url("../../img/bg/hero-2@2x.jpg") 2x
      );
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/hero-3@2x.webp") 2x,
        url("../../img/bg/hero-3@1x.webp") 1x,
        url("../../img/bg/hero-3@1x.jpg") 1x,
        url("../../img/bg/hero-3@2x.jpg") 2x
      );
  }

  @include media("tablet") {
    padding-top: 647px;
    padding-bottom: 60px;

    &--bg-1 {
      background-position: calc(50% + 11px) 0;
    }

    &--bg-3 {
      background-position: calc(50% - 120px) 0;
      background-repeat: repeat-x;
    }
  }

  @include media("desktop") {
    padding-top: 433px;

    &--bg-1 {
      background-position: center -40px;
    }

    &--bg-3 {
      background-position: center -65px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-blue;
    z-index: 1;
  }
}

.hero__slide-content {
  position: relative;
  z-index: 2;

  @include media("tablet") {
    width: 659px;
  }

  @include media("desktop") {
    width: 968px;
  }
}

.hero__slide-title {
  position: relative;
  margin: 0;
  padding: 47px 14px 16px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;
  background-color: $white;
  border-top-left-radius: 12px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  --nb-r: 12px;
  --nb-w: 186px;
  --nb-h: 3px;

  @include media("tablet") {
    padding: 71px 40px 24px;
    font-size: 36px;
    line-height: 44px;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    --nb-r: 20px;
    --nb-w: 520px;
    --nb-h: 0px;

    &--first {
      br {
        display: none;
      }
    }
  }

  @include media("desktop") {
    padding: 80px 50px 30px;;
    font-size: 54px;
    line-height: 62px;
    --nb-w: 830px;
    --nb-h: 0px;
  }
}

.hero__slide-angle {
  position: relative;
  display: block;
  width: 8px;
  height: 10px;
  margin-top: -10px;
  top: 10px;
  left: 267px;
  background-image: url("/__spritemap#sprite-angle-down-view");

  @include media("tablet") {
    width: 26px;
    height: 26px;
    margin-top: -26px;
    top: 26px;
    left: 593px;
    background-image: url("/__spritemap#sprite-angle-down-tablet-view");
  }

  @include media("desktop") {
    top: 25px;
    left: 774px;
  }
}

.hero__slide-content-inner {
  width: 267px;
  padding: 0 14px 10px;
  background-color: $white;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  --nb-r: 12px;
  --nb-w: 59px;
  --nb-h: 40px;

  @include media("tablet") {
    display: grid;
    grid-template-columns: 241px 1fr;
    column-gap: 74px;
    align-items: start;
    width: 593px;
    margin-top: -1px;
    padding: 0 40px 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    --nb-r: 0px;
    --nb-w: 0px;
    --nb-h: 0px;
  }

  @include media("desktop") {
    grid-template-columns: 391px 1fr;
    column-gap: 85px;
    width: 775px;
    padding: 0 50px 33px;
  }
}

.hero__slide-content p {
  width: 235px;
  margin: 0;
  font-size: 16px;

  @include media("tablet") {
    width: 241px;
    margin-bottom: 0;
    font-size: 16px;
  }

  @include media("desktop") {
    width: 417px;
    line-height: 27px;

    & br {
      display: none;
    }
  }
}

.hero__slide-button {
  margin-top: 25px;
  margin-left: 1px;

  @include media("tablet") {
    grid-column: 2 / 3;
    width: 198px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media("desktop") {
    &:first-child {
      margin-top: 11px;
    }
  }
}

.hero__pagination-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__pagination {
  position: absolute;
  display: flex;
  gap: 12px;
  top: 212px;
  left: 31px;
  z-index: 5;

  @include media("tablet") {
    top: 661px;
    left: 65px;
  }

  @include media("desktop") {
    top: 447px;
    left: 120px;
  }
}

.hero__pagination .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 2px solid $blue;
  border-radius: 50%;
  cursor: pointer;

  @include media("tablet") {
    width: 12px;
    height: 12px;
  }

  &:hover {
    background-color: $blue;
    border-color: $white;
  }

  &:focus {
    border-color: $blue;
  }

  &:active,
  &-active,
  &-active:hover,
  &-active:active {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &-active {
    cursor: auto;
  }
}
