.hero__slide-title {
  margin-block: 20px 16px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    margin-block: 30px 24px;
    font-size: 36px;
    line-height: 44px;
  }

  @include media("desktop") {
    margin-block: 40px 30px;
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-content p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;

  @include media("tablet") {
    margin-bottom: 0;
    font-size: 16px;
  }
}
