.hero__slide {
  position: relative;
  margin-top: -80px;
  padding-top: 203px;
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/hero-1@1x.webp") 1x,
        url("../../img/bg/hero-1@2x.webp") 2x,
        url("../../img/bg/hero-1@1x.jpg") 1x,
        url("../../img/bg/hero-1@2x.jpg") 2x
      );
    background-position: calc(50% - 20px) 0;
  }

  &--bg-2 {
    background-image:
      image-set(
        url("../../img/bg/hero-2@2x.webp") 2x,
        url("../../img/bg/hero-2@1x.webp") 1x,
        url("../../img/bg/hero-2@1x.jpg") 1x,
        url("../../img/bg/hero-2@2x.jpg") 2x
      );
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/hero-3@2x.webp") 2x,
        url("../../img/bg/hero-3@1x.webp") 1x,
        url("../../img/bg/hero-3@1x.jpg") 1x,
        url("../../img/bg/hero-3@2x.jpg") 2x
      );
  }

  @include media("tablet") {
    padding-top: 687px;
    padding-bottom: 60px;

    &--bg-1 {
      background-position: center 0;
    }

    &--bg-3 {
      background-position: calc(50% - 120px) 0;
      background-repeat: repeat-x;
    }
  }

  @include media("desktop") {
    padding-top: 433px;

    &--bg-1 {
      background-position: center -65px;
    }

    &--bg-3 {
      background-position: center -65px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-blue;
    z-index: 1;
  }
}

.hero__slide-content {
  position: relative;
  padding: 10px 14px;
  background-color: $white;
  border-radius: 12px;
  z-index: 2;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 15px 40px 35px;
    border-radius: 20px;
  }

  @include media("desktop") {
    width: 968px;
    padding: 15px 50px 35px;
  }
}

.hero__slide-title {
  margin-block: 20px 16px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    margin-block: 30px 24px;
    font-size: 36px;
    line-height: 44px;

    &--first {
      br {
        display: none;
      }
    }
  }

  @include media("desktop") {
    margin-block: 40px 30px;
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__slide-content p {
  width: 240px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;

  @include media("tablet") {
    margin-bottom: 0;
    font-size: 16px;
  }

  @include media("desktop") {
    width: 391px;

    & br {
      display: none;
    }
  }
}

.hero__slide-button {
  @include media("tablet") {
    margin-left: 74px;
  }

  @include media("desktop") {
    margin-left: 85px;
  }
}
