.modal {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $light-black;
  z-index: 40;

  &--closed {
    display: none;
  }
}

.modal__body {
  position: relative;
  width: 290px;
  margin: auto;
  padding: 40px 15px;
  background-color: $white;
  border-radius: 16px;

  @include media("tablet") {
    width: 510px;
    padding: 60px 80px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: $blue;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 20px;
    font-size: 28px;
  }

  @include media("desktop") {
    font-size: 32px;
    line-height: 36px;
  }
}

.modal__text {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;

  @include media("tablet") {
    width: 100%;
    margin-bottom: 30px;
  }
}

.modal .form__label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1;
}

.modal .form__checkbox-mark {
  background-color: $blue;
}

.form__checkbox-input--modal:checked + .form__checkbox-mark {
  &::before {
    background-color: $white;
  }
}

.form__checkbox-label--modal:hover .form__checkbox-mark,
.form__checkbox-input--modal:focus + .form__checkbox-mark {
  background-color: $white;
  border: 1px solid $blue;
  cursor: pointer;

  &::before {
    background-color: $blue;
  }
}

.modal .form__input {
  background-color: $white;
  border: 1px solid rgba(#484848, 0.3);
  border-radius: 8px;
  transition:
    border-color 0.3s,
    background-color 0.3s;

  &:hover,
  &:focus {
    border-color: $black;
  }

  &:disabled,
  &:disabled:hover {
    background-color: rgba($grey, 0.2);
    border-color: rgba($grey, 0.4);
    cursor: not-allowed ;
  }
}

.modal .custom-select__button {
  color: $black;
  background-color: $white;
  border: 1px solid rgba(#484848, 0.3);
  border-radius: 8px;

  &::before {
    background-image: url("/__spritemap#sprite-arrowdown-dark-view");
  }

  &--open::before {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus,
  &--open {
    border-color: $black;
    outline: none;
  }
}

.modal .custom-select__list {
  display: none;
  border: 1px solid $black;
}

.modal .form__button {
  display: block;
  width: 194px;
  margin: 0 auto;
}
