.modal__body {
  width: 290px;
  margin: 0 auto;
  padding: 40px 15px;
  background-color: $white;
  border-radius: 16px;
}

.modal__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: $blue;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 20px;
    font-size: 28px;
  }

  @include media("desktop") {
    font-size: 32px;
    line-height: 36px;
  }
}

.modal__text {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 30px;
  }
}

.modal .form__label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1;
}

.modal .form__input {
  background-color: $white;
  border: 1px solid rgba(#484848, 0.3);
  border-radius: 8px;
}

.modal .custom-select__button {
  color: $black;
  background-color: $white;
  border: 1px solid rgba(#484848, 0.3);
  border-radius: 8px;
}
