.news__filters {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  margin: 0 -15px;
  margin-bottom: 24px;
  padding: 2px 15px;
  list-style-type: none;
  overflow-x: auto;
  scrollbar-width: none;

  @include media("tablet") {
    margin-inline: -45px;
    padding-inline: 41px;
  }

  @include media("desktop") {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    overflow: visible;
  }
}

.news__filters-item {
  flex-shrink: 0;
}

.news__filters-tab {
  max-width: 157px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: rgba($blue, 0.6);
  background-color: $beige;
  text-transform: uppercase;

  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &--active {
    color: $blue;
    outline: 2px solid $blue;
  }

  @include media("tablet") {
    padding: 16px 22px;
    font-size: 14px;
  }

  @include media("desktop") {
    max-width: 240px;
    padding: 16px 35px;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      color: $blue;
    }

    &:focus {
      background-color: $white;
      outline: none;
    }

    &--active:focus {
      background-color: $beige;
      outline: 2px solid $blue;
    }
  }
}

.news__slider {
  position: relative;
}

.news__slide {
  max-width: 290px;
  min-height: 330px;
  background-color: $beige;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/news-1@1x.webp") 1x,
        url("../../img/bg/news-1@2x.webp") 2x,
        url("../../img/bg/news-1@1x.jpg") 1x,
        url("../../img/bg/news-1@2x.jpg") 2x
      );
    background-position: -7px 0;
  }

  &--bg-2 {
    min-height: 240px;
    background-image:
      image-set(
        url("../../img/bg/news-2@1x.webp") 1x,
        url("../../img/bg/news-2@2x.webp") 2x,
        url("../../img/bg/news-2@1x.jpg") 1x,
        url("../../img/bg/news-2@2x.jpg") 2x
      );
    background-position: 0 -35px;
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/news-3@1x.webp") 1x,
        url("../../img/bg/news-3@2x.webp") 2x,
        url("../../img/bg/news-3@1x.jpg") 1x,
        url("../../img/bg/news-3@2x.jpg") 2x
      );
    background-position: 0 -45px;
  }

  &--bg-4 {
    background-image:
      image-set(
        url("../../img/bg/news-4@1x.webp") 1x,
        url("../../img/bg/news-4@2x.webp") 2x,
        url("../../img/bg/news-4@1x.jpg") 1x,
        url("../../img/bg/news-4@2x.jpg") 2x
      );
  }

  @include media("tablet") {
    max-width: 324px;
    min-height: 350px;

    &--bg-2 {
      background-position: 0 0;
    }

    &--bg-3 {
      background-position: 0 -69px;
    }
  }

  @include media("desktop") {
    max-width: 286px;
    min-height: 400px;

    &--first {
      max-width: 604px;
    }

    &--bg-1 {
      background-position: 0 -126px;
    }

    &--bg-2 {
      background-position: -44px 0;
    }

    &--bg-3 {
      background-position: 0 -13px;
    }

    &--bg-4 {
      background-position: -43px 0;
    }
  }
}

.news__slide.swiper-slide {
  display: grid;
  align-items: end;
}

.news__slide-content {
  position: relative;
  width: 263px;
  margin-left: -1px;
  margin-bottom: -1px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -15px;
    background-image: url("/__spritemap#sprite-angle-view");
  }

  @include media("tablet") {
    width: 240px;
  }
}

.news__slide-content-inner {
  width: 200px;
  padding-top: 12px;
  padding-right: 10px;
  background-color: $beige;
  border-top-right-radius: 12px;
  --nb-r: 15px;
  --nb-w: 92px;
  --nb-h: 2px;
}

.news__slide--first .news__slide-content-inner {
  @include media("desktop") {
    width: 428px;
    --nb-w: 315px;
  }
}

.news__slide--first .news__slide-content {
  @include media("desktop") {
    width: 468px;
  }
}

.news__date {
  font-size: 12px;
  line-height: 1;
  color: $blue;
}

.news__slide-title {
  display: block;
  width: 220px;
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  @include media("tablet") {
    width: 200px;
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 24px;
    line-height: 26px;
  }
}

.news__slide-title-link {
  color: $blue;
  text-decoration: none;
  transition: color 0.3s;
}

.news__slide--first .news__slide-title {
  @include media("desktop") {
    width: 408px;
  }
}

.news__slide-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 10px;
  margin-top: -1px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: $beige;
  border-top-right-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 48px;
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-angle-view");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-angle-view");
  }

  @include media("tablet") {
    gap: 16px;
    padding-bottom: 15px;

    & br {
      display: none;
    }

    &::before {
      right: 25px;
    }
  }

  @include media("desktop") {
    &::after {
      right: -15px;
    }
  }
}

.news__slide-content p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.news__slide-link {
  align-self: center;
  width: 30px;
  height: 30px;
}

@media (hover: hover) {
  .news__slide-content:hover,
  .news__slide-content:focus {
    .news__slide-title-link {
      color: rgba($blue, 0.7);
      text-decoration: underline;
    }

    .news__slide-link {
      background-color: $white;

      &::before {
        background-color: $blue;
        transform: rotate(45deg);
      }
    }
  }

  .news__slide-content:active {
    .news__slide-title-link {
      color: rgba($blue, 0.3);
    }

    .news__slide-link {
      &::before {
        background-color: rgba($blue, 0.5);
      }
    }
  }

  .news__slide-title-link:hover,
  .news__slide-title-link:focus {
    color: rgba($blue, 0.7);
    text-decoration: underline;
    outline: none;
  }

  .news__slide-link:focus {
    background-color: $white;

    &::before {
      background-color: $blue;
    }
  }
}

.news__pagination {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 200px;
  margin-top: 24px;
  margin-inline: auto;
  transition: transform 0.3s;
  z-index: 2;

  @include media("tablet") {
    gap: 20px;
    width: 300px;
    margin-top: 30px;
  }

  @include media("desktop") {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    &--top {
      transform: translateY(-90px);
    }
  }
}

.news__pagination .swiper-pagination-bullet {
  width: 26px;
  min-height: 26px;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: $blue;
  border: none;
  border-radius: 50%;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;

  &-active {
    color: $white;
    background-color: $blue;
  }

  @include media("tablet") {
    width: 32px;
    min-height: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    border: 1px solid $blue;
  }

  &:focus {
    background-color: $white;
  }

  &:active {
    color: $white;
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &-active:hover,
  &-active:focus,
  &-active:active {
    border: none;
    background-color: $blue;
  }
}

.news__navigation {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 5px;
  transition: transform 0.3s;
  z-index: 1;

  @media (max-width: 767px) {
    &--top {
      transform: translateY(-90px);
    }
  }
}
