.news__filters {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  margin: 0 -15px;
  margin-bottom: 24px;
  padding: 2px 15px;
  list-style-type: none;
  overflow-x: auto;
  scrollbar-width: none;

  @include media("tablet") {
    margin-inline: -45px;
    padding-inline: 41px;
  }

  @include media("desktop") {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}

.news__filters-item {
  flex-shrink: 0;
}

.news__filters-tab {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: rgba($blue, 0.6);
  text-transform: uppercase;

  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &--active {
    color: $blue;
    outline: 2px solid $blue;
  }

  @include media("tablet") {
    padding: 16px 22px;
    font-size: 14px;
  }

  @include media("desktop") {
    padding: 16px 35px;
  }
}

.news__slide {
  display: grid;
  align-items: end;
  max-width: 290px;
  min-height: 330px;
  background-color: $beige;

  @include media("tablet") {
    max-width: 324px;
  }

  @include media("desktop") {
    max-width: 286px;

    &--first {
      max-width: 604px;
    }
  }
}

.news__slide-content {
  width: 263px;
  padding: 12px 10px 10px 0;

  @include media("tablet") {
    width: 240px;
  }
}

.news__slide--first .news__slide-content {
  @include media("desktop") {
    width: 468px;
  }
}

.news__date {
  font-size: 12px;
  line-height: 1;
  color: $blue;
}

.news__slide-title {
  margin: 0;
  margin-block: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    width: 200px;
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 24px;
    line-height: 26px;
  }
}

.news__slide--first .news__slide-title {
  @include media("desktop") {
    width: 408px;
  }
}

.news__slide-container {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 10px;

  @include media("tablet") {
    gap: 16px;

    & br {
      display: none;
    }
  }
}

.news__slide-content p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.news__slide-link {
  align-self: center;
  width: 30px;
  height: 30px;
}
