.programs .container {
  @media (width >= 768px) and (width <= 1439px) {
    max-width: 100%;
  }
}

.programs__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.programs__button {
  min-width: 205px;
  max-width: 290px;

  &--upper {
    display: none;
  }

  &--lower {
    margin-top: 30px;

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }

  @include media("tablet") {
    min-width: 234px;
    max-width: 240px;

    &--upper {
      display: block;
      padding-bottom: 19px;
    }

    &--lower {
      display: none;
    }
  }

  @include media("desktop") {
    min-width: 234px;
    max-width: 440px;
  }
}

.programs__slider.swiper {
  position: relative;

  @media (width >= 768px) and (width <= 1439px) {
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.programs__slider .swiper-wrapper {
  @include media("tablet") {
    margin-bottom: 62px;
  }
}

.programs__slide {
  position: relative;
  display: grid;
  align-items: end;
  width: 290px;
  min-height: 400px;
  padding: 18px 10px;
  background-color: $white;
  background-repeat: no-repeat;
  border-radius: 12px;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/programs-1@1x.webp") 1x,
        url("../../img/bg/programs-1@2x.webp") 2x,
        url("../../img/bg/programs-1@1x.jpg") 1x,
        url("../../img/bg/programs-1@2x.jpg") 2x
      );
    background-size: 472px;
    background-position: -38px -308px;
  }

  &--bg-2 {
    background-image:
      image-set(
        url("../../img/bg/programs-2@1x.webp") 1x,
        url("../../img/bg/programs-2@2x.webp") 2x,
        url("../../img/bg/programs-2@1x.jpg") 1x,
        url("../../img/bg/programs-2@2x.jpg") 2x
      );
    background-size: cover;
    background-position: -165px 0;
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/programs-3@1x.webp") 1x,
        url("../../img/bg/programs-3@2x.webp") 2x,
        url("../../img/bg/programs-3@1x.jpg") 1x,
        url("../../img/bg/programs-3@2x.jpg") 2x
      );
    background-size: 400px;
    background-position: -90px -188px;
  }

  @include media("tablet") {
    width: 324px;
    min-height: 420px;
    padding: 10px 20px;

    &--bg-1 {
      background-size: 494px;
      background-position: -40px -322px;
    }

    &--bg-2 {
      background-position: -166px 0;
    }

    &--bg-3 {
      background-size: 390px;
      background-position: -70px -146px;
    }
  }

  @include media("desktop") {
    width: 392px;
    padding: 15px 20px;

    &--bg-1 {
      background-size: 510px 786px;
      background-position: -16px -359px;
    }

    &--bg-2 {
      background-position: -129px 0;
    }

    &--bg-3 {
      background-size: 440px;
      background-position: -22px -217px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $light-blue;
    border-radius: 12px;
    z-index: 1;
  }
}

.programs__slide.swiper-slide {
  display: grid;
  width: 290px;

  @include media("tablet") {
    width: 324px;
  }

  @include media("desktop") {
    width: 392px;
  }
}

.programs__slide-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 16px;
  min-height: 111px;
  padding: 18px 18px 15px;
  background-color: $white;
  border-radius: 12px;
  z-index: 2;

  --nb-r: 17px;
  --nb-h: 8px;
  --nb-w: 90px;

  @include media("tablet") {
    width: 284px;
    min-height: 125px;
    padding-top: 19px;

    --nb-w: 77px;
    --nb-h: 4px;
  }

  @include media("desktop") {
    width: 321px;

    --nb-h: 7px;
    --nb-w: 92px;
  }
}

.programs__slide-title {
  width: 120px;
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    width: 140px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 14px;
  }

  @include media("desktop") {
    width: 165px;
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__slide--bg-1 .programs__slide-link {
  @include media("desktop") {
    margin-top: 11px;
  }
}

.programs__slide--bg-2 br {
  display: none;

  @include media("tablet") {
    display: block;
  }

  @include media("desktop") {
    display: none;
  }
}

.programs__slide-content p {
  grid-row: 2 / 3;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: $black;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.programs__slide-link {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  width: 30px;
  height: 30px;

  @include media("desktop") {
    align-self: start;
    margin-top: 3px;
  }
}

.programs__scrollbar {
  display: none;

  @include media("tablet") {
    position: relative;
    bottom: 12px;
    display: block;
    width: 83%;
    height: 2px;
    background-color: rgba($blue, 0.2);
    cursor: pointer;
  }

  @include media("desktop") {
    width: 1136px;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  @include media("tablet") {
    height: 2px;
    background-color: $blue;
  }
}

.programs__navigation {
  position: absolute;
  display: flex;
  top: -2px;
  right: 1px;
  gap: 6px;

  @include media("tablet") {
    top: auto;
    bottom: 2px;
    right: 47px;
  }

  @include media("desktop") {
    right: 1px;
  }
}
