.programs__wrapper {
  display: grid;
  gap: 30px;

  @include media("tablet") {
    grid-template-columns: 1fr 234px;
  }
}

.programs__button {
  width: 205px;
  order: 1;

  @include media("tablet") {
    width: 234px;
    order: 0;
  }
}

.programs__slide {
  display: grid;
  align-items: end;
  max-width: 290px;
  min-height: 290px;
  padding: 18px 10px;
  background-color: $white;
  border-radius: 12px;

  @include media("tablet") {
    max-width: 324px;
  }

  @include media("desktop") {
    max-width: 392px;
  }
}

.programs__slide-content {
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 16px;
  padding: 18px 18px 15px;
}

.programs__slide-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    font-size: 20px;
    line-height: 14px;
  }

  @include media("desktop") {
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__slide-content p {
  grid-row: 2 / 3;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: $black;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.programs__slide-link {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  width: 30px;
  height: 30px;
}
