.reviews__slide {
  border: 2px solid $blue;
  border-radius: 16px;
}

.reviews__slide-name {
  font-size: 14px;
  line-height: 18px;
  color: $blue;

  @include media("tablet") {
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__slide-data {
  margin: 0;
}

.reviews__slide-term {
  font-size: 12px;
  line-height: 12px;
  color: $blue;
  text-transform: uppercase;
}

.reviews__slide-definition {
  margin: 0;
  font-size: 12px;
  line-height: 14px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__slide blockquote {
  margin: 0;
}

.reviews__slide-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: $blue;

  @include media("tablet") {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 24px;
    line-height: 26px;
  }
}

.reviews__slide-heading + p {
  margin: 0;
}
