.reviews .container {
  @media (min-width: 768px) and (max-width: 1439px) {
    max-width: 100%;
  }
}

.reviews__slider.swiper {
  position: relative;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.reviews__slider .swiper-wrapper {
  @include media("tablet") {
    margin-bottom: 62px;
  }
}

.reviews__slide {
  position: relative;
  max-width: 290px;
  padding: 32px 17px;
  border: 2px solid $blue;
  border-radius: 16px;

  @include media("tablet") {
    max-width: 560px;
    padding: 52px;
  }

  @include media("desktop") {
    max-width: 604px;
  }
}

.reviews__slide-header {
  display: grid;
  gap: 15px;
  margin-bottom: 25px;

  @include media("tablet") {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.reviews__slide-author-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media("tablet") {
    gap: 15px;
  }
}

.reviews__slide-photo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  @include media("tablet") {
    width: 90px;
    height: 90px;
  }
}

.reviews__slide-author {
  max-width: 180px;
  font-size: 14px;
  line-height: 18px;
  color: $blue;

  @include media("tablet") {
    max-width: 110px;
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__slide-data {
  display: grid;
  justify-content: start;
  gap: 8px 25px;
  max-width: 250px;
  margin: 0;
  align-self: center;

  @include media("tablet") {
    row-gap: 11px;
  }
}

.reviews__slide-term {
  grid-row: 1 / 2;
  font-size: 12px;
  line-height: 12px;
  color: $blue;
  text-transform: uppercase;
}

.reviews__slide-definition {
  margin: 0;
  font-size: 12px;
  line-height: 14px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__slide blockquote {
  margin: 0;
}

.reviews__slide-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: $blue;

  @include media("tablet") {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 24px;
    line-height: 26px;
  }
}

.reviews__slide-heading + p {
  margin: 0;
}

.reviews__scrollbar {
  display: none;

  @include media("tablet") {
    position: relative;
    bottom: 12px;
    display: block;
    width: 83%;
    height: 2px;
    background-color: rgba($blue, 0.2);
    cursor: pointer;
  }

  @include media("desktop") {
    width: 1136px;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  @include media("tablet") {
    height: 2px;
    background-color: $blue;
  }
}

.reviews__navigation {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;

  @include media("tablet") {
    top: auto;
    bottom: 0;
    right: 45px;
  }

  @include media("desktop") {
    right: 0;
  }
}
