.section {
  padding-block: 50px;

  @include media("desktop") {
    padding-block: 60px;
  }

  &--highlight {
    padding-block: 70px;
    color: $white;
    background-color: $blue;

    @include media("tablet") {
      padding-block: 100px;
    }

    @include media("desktop") {
      padding-block: 120px;
    }
  }
}

.section__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    font-size: 34px;
    line-height: 50px;
  }

  @include media("desktop") {
    font-size: 50px;
    line-height: 50px;
  }
}

.section--highlight .section__title {
  color: $white;
}

.about .section__title,
.grant .section__title {
  margin-bottom: 15px;

  @include media("tablet") {
    margin-bottom: 30px;
  }
}

.programs .section__title {
  margin-bottom: 35px;

  @include media("tablet") {
    margin-bottom: 43px;
  }

  @include media("desktop") {
    margin-bottom: 45px;
  }
}

.news .section__title {
  margin-bottom: 24px;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 30px;
  }

  @include media("desktop") {
    margin-bottom: 40px;
  }
}

.faq .section__title {
  margin-bottom: 30px;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    margin-bottom: 70px;
  }
}

.reviews .section__title {
  margin-bottom: 35px;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    margin-bottom: 45px;
  }
}

.contacts .section__title {
  margin-bottom: 35px;

  @include media("tablet") {
    margin-bottom: 30px;
  }

  @include media("desktop") {
    margin-bottom: 0;
  }
}
