.section {
  padding-block: 51px;

  @include media("tablet") {
    padding-block: 50px;
  }

  @include media("desktop") {
    padding-block: 70px;
  }

  &--highlight {
    padding-block: 71px;
    color: $white;
    background-color: $blue;

    @include media("tablet") {
      padding-block: 100px;
    }

    @include media("desktop") {
      padding-block: 120px;
    }
  }
}

.section.programs {
  padding-top: 56px;
  padding-bottom: 50px;

  @include media("tablet") {
    padding-top: 50px;
    padding-bottom: 48px;
  }

  @include media("desktop") {
    padding-top: 61px;
    padding-bottom: 58px;
  }
}

.section.reviews {
  padding-top: 56px;
  padding-bottom: 50px;

  @include media("tablet") {
    padding-top: 50px;
    padding-bottom: 48px;
  }

  @include media("desktop") {
    padding-top: 65px;
    padding-bottom: 58px;
  }
}

.section.news {
  @include media("desktop") {
    padding-top: 60px;
  }
}

.section.contacts {
  padding-top: 76px;

  @include media("tablet") {
    padding-top: 100px;
  }

  @include media("desktop") {
    padding-top: 121px;
  }
}

.section__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $blue;

  @include media("tablet") {
    font-size: 34px;
    line-height: 50px;
  }

  @include media("desktop") {
    font-size: 50px;
    line-height: 50px;
  }
}

.section--highlight .section__title {
  color: $white;
}

.about .section__title,
.grant .section__title {
  margin-bottom: 14px;
  margin-left: 1px;

  @include media("tablet") {
    margin-bottom: 31px;
    margin-left: 0;
  }

  @include media("desktop") {
    margin-bottom: 30px;
  }
}

.grant .section__title {
  margin-left: 0;

  @include media("tablet") {
    margin-bottom: 30px;
  }
}

.programs .section__title {
  margin-bottom: 34px;

  @include media("tablet") {
    max-width: 425px;
    margin-bottom: 43px;
    margin-top: 3px;
  }

  @include media("desktop") {
    max-width: 745px;
    margin-bottom: 45px;
  }
}

.news .section__title {
  margin-bottom: 23px;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 30px;
  }

  @include media("desktop") {
    margin-bottom: 42px;
  }
}

.faq .section__title {
  margin-bottom: 29px;
  text-align: center;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    margin-bottom: 72px;
  }
}

.reviews .section__title {
  margin-bottom: 34px;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    padding-left: 3px;
    margin-bottom: 45px;
  }
}

.contacts .section__title {
  margin-bottom: 35px;

  @include media("tablet") {
    margin-bottom: 30px;
  }

  @include media("desktop") {
    margin-top: -2px;
    margin-bottom: 0;
  }
}
