$white: #ffffff;
$beige: #f0efe9;
$black: #484848;
$blue: #316dc2;
$dark-blue: #275699;
$grey: #a9afb7;
$red: #ff5e66;
$light-blue: rgba(#316dc2, 0.2);
$light-black: rgba(#0d1d33, 0.4);

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-max-width: 767px;
