// Vendor
@import "vendor/normalize";

// COMMON
@import "common/variables";
@import "common/media";
@import "common/fonts";
@import "common/global";

// BLOCKS
@import "blocks/button";
@import "blocks/button-icon";
@import "blocks/logo";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/section";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/grant";
@import "blocks/news";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/custom-select";
@import "blocks/footer";
@import "blocks/modal";
